@import "tailwindcss";
.bike-card {
    transition: transform 0.2s;
  }
  
  .bike-card:hover {
    transform: translateY(-5px);
  }
  
  .bike-card img {
    object-fit: cover;
    width: 100%;
    height: 192px; /* Matches h-48 in Tailwind */
  }